.MainButtonDifference {
    margin-left: 3%;
}
/*Used to set the footer at bottom*/
.SetFooterDown {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: solid black;
    border-width: 1px;
}

.RoleEdit {
    float: left;
    margin-left: 3%;
    margin-right: 2%;
}

.loginForm {
    width: 32%;
    margin-left: 34%;
}

@media screen and (max-width: 900px) {
    .loginForm {
        width: 96%;
        margin-left: 2%;
    }

    .registration {
        width: 96% !important;
        margin-left: 2% !important;
    }

    .btn-xl {
        padding: 13px 10px !important;
    }


    .repeaterTimeRecord {
        width: 245px !important;
        margin-left: 12% !important;
    }

    .searchTextBox {
        width: 100% !important;
        float: left !important;
        margin-bottom: 2% !important;
    }

    .AddNewTimeZone {
        margin-left: 8% !important;
        margin-bottom: 3% !important;
    }

    .MainDashBoardUserTimeDisplay {
        margin-left: 3% !important;
        margin-top: 17% !important;
        margin-right: 3% !important;
    }
}

.marginClass {
    margin-top: 5%;
}

.customCheckBox {
    float: left;
}

.signIn {
    margin-bottom: 50%;
}

.registration {
    width: 37%;
    margin-left: 37%;
}

.registrationButton {
    margin-bottom: 45%;
}
